# Static network configuration.
d-i netcfg/get_nameservers string 10.0.0.254
d-i netcfg/get_ipaddress string 10.0.0.200
d-i netcfg/get_netmask string 255.255.255.0
d-i netcfg/get_gateway string 10.0.0.254
d-i netcfg/confirm_static boolean true

d-i passwd/user-fullname string template
d-i passwd/username string template
d-i passwd/user-password password template
d-i passwd/user-password-again password template
d-i user-setup/allow-password-weak boolean true

d-i partman-auto/disk string /dev/sda
d-i partman-auto/method string regular
d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true

d-i pkgsel/include string open-vm-tools openssh-server

d-i finish-install/reboot_in_progress note